<a href="https://colab.research.google.com/github/Sa-Salmon/CISC179-assignments/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python
A tuple in Python is an ordered, immutable sequence of elements. Tuples are defined using parentheses and can contain elements of different data types, including other tuples. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data.

## Objective
- Comprehend the application of tuples
- Understand how a tuple uses a memory
- Apply various operations on tuples

## Prerequisite

- Lists
- Decision and loops
- Input functions
- Python literals
- Programming variables


## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

# 1. Exercising tuples

1a) Take five inputs from an user and save it in a tuple called ```my_tuple```

In [2]:
my_tuple = input("give me 5 numbers")
print(my_tuple)

give me 5 numbers5,4,3,2,1
5,4,3,2,1

1b. How do you assign a single element in a tuple?

In [3]:
T1=(1,)
print(T1)

(1,)

1c. ```my_tuple = (1,2,3,4,3,2,1,2,3,5,4,3,2,1)```
Count the repeated integers and print the result on the console.

In [4]:
my_tuple = (1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

count_dict = {}


for num in my_tuple:
    if num in count_dict:
        count_dict[num] += 1
    else:
        count_dict[num] = 1

for key, value in count_dict.items():
    print(f"{key}: {value}")

1: 3
2: 4
3: 4
4: 2
5: 1

1d. ```my_tuple = my_tuple + my_tuple```


Proof that ```my_tuple``` in part c is different than the ```my_tuple``` in part d.

In [6]:
print(my_tuple)
my_tuple = my_tuple + my_tuple
print(my_tuple)

(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1, 1, 2, 3, 4, 3, 2, 1, 2, 3, 5, 4, 3, 2, 1)

1e. Explain why the following operations aren’t legal for
the tuple. Answer without using the Python.
```
x = (1,2,3,4)
x.append(1)
x[1] = "hello"
del x[2]
```

Once a tulpe is created values can't be added, changed, or deleted.

# 2. Packing and unpacking tuples

Python permits tuples to appear on the left side of an assignment operator, in which case variables in the tuple receive the corresponding values from the tuple on the right side of the assignment operator. Here’s a simple example:

In [9]:
(one, two, three, four) =  (1, 2, 3, 4)

2a. What is the data type of each variable?

In [10]:
print(type(one))
print(type(two))
print(type(three))
print(type(four))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

2b. Python has an extended unpacking feature, allowing an element marked with * to absorb any number of elements not matching the other elements. For example,

In [12]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

2c. What will be the result of ```a, *b, c = x```?

In [16]:
a, *b, c = x
a,b,c

(1, [2, 3], 4)

# 3. Memory management

```
my_x = [100,200,300,400]
my_y = (200,300,400,500)

```
Discuss how memory addresses are assigned to each index of the list and the tuple. Pay attention to new addresses & re-used addresses.

| Index | my_x | my_y |
|   -   |  -   |  -   |
|   0   |   10754024  |  10757224  |
|   1   |   10757224  |  136203616587216   |
|   2   |   136203616587216  |  136203616587536   |
|   3   |   136203616587536  |  136203616586896   |

In [25]:
my_x=[100,200,300,400]
print(id(my_x[0]))
print(id(my_x[1]))
print(id(my_x[2]))
print(id(my_x[3]))

10754024
10757224
136203616587216
136203616587536

In [26]:
my_y = (200,300,400,500)
print(id(my_y[0]))
print(id(my_y[1]))
print(id(my_y[2]))
print(id(my_y[3]))

10757224
136203616587600
136203616585296
136203616586896

## Challenges

Please describe the challenges you faced during the exercise.

I think one of the challenges I had was figuring out how I was supposed to respond to some of the questions.